footer.footer.bg-danger
  .container.d-flex.justify-content-md-between
    ul.d-flex.pl-0
      li.pt-md-32.pt-sm-23.mr-16.mobileMarginBottom 
          h3.fs-24.text-white CRAFTsMAN
      li.pt-md-34.pt-sm-23
          p.text-success © 2020. All Rights Reserved.
  
    ul.d-flex.pl-0
        li.pt-md-32
            p.text-success.mb-sm-16 Purchase Policy
        li.pt-md-32.ml-md-48
            p.text-success.mb-sm-16 Privacy Policy
        li.pt-md-32.ml-md-48
            p.text-success.mb-sm-16 Terms & Conditions
  