header
 .container.p-md-0.mt-sm-16
   nav.navbar.navbar-expand-lg.navbar-light.bg-transparent.p-0
     
     button.navbar-toggler.border-0.py-0(type='button' data-toggle='collapse' data-target='#collapseContent'  aria-haspopup="true" aria-expanded="false" aria-controls="collapseContent")
        span.material-icons dehaze
     
     a.navbar-brand.py-0(href='https://www.w3schools.com') 
        h1.fs-24.m-sm-16.my-md-24.text-dark.text-sm-white CRAFTsMAN
     a.nav-link.pr-0.ml-sm-1.order-md-3(href="")
        span.material-icons shopping_cart   
     #collapseContent.collapse.navbar-collapse
        ul.navbar-nav.ml-md-auto
          li
            a.nav-link.text-white(href='#')
              | Product
          li.ml-md-48
            a.nav-link.text-white(href='#') Blog
          li.ml-md-48
            a.nav-link.text-white(href='#') Contact
