<!DOCTYPE html>
html(lang="en")
  head
    include ../partials/head.pug
    block title
  body
    include ./header.pug
    block content
    include ./footer.pug
    include ../partials/javascript.pug
