
<footer class="footer bg-danger">
  <div class="container d-flex justify-content-md-between">
    <ul class="d-flex pl-0">
      <li class="pt-md-32 pt-sm-23 mr-16 mobileMarginBottom"> 
        <h3 class="fs-24 text-white">CRAFTsMAN</h3>
      </li>
      <li class="pt-md-34 pt-sm-23">
        <p class="text-success">© 2020. All Rights Reserved.</p>
      </li>
    </ul>
    <ul class="d-flex pl-0">
      <li class="pt-md-32">
        <p class="text-success mb-sm-16">Purchase Policy</p>
      </li>
      <li class="pt-md-32 ml-md-48">
        <p class="text-success mb-sm-16">Privacy Policy</p>
      </li>
      <li class="pt-md-32 ml-md-48">
        <p class="text-success mb-sm-16">Terms & Conditions</p>
      </li>
    </ul>
  </div>
</footer>