.banner {
    padding-top: 156px;
    .btn {
        display: inline-block;
    }
    @media (max-width: 576px) {
        padding-top: 100px;
        h2 {
            text-align: center;
        }
        p {
            font-size: 1rem;
            text-align: center;
            color: #FFFFFF99;
        }
    }
    .bg-cover {
        position: absolute;
        top: 0;
        bottom: 43.817%;
        background: url("../../images/banner.jpg")no-repeat;
        background-size: cover;
        z-index: -999;
        @media(max-width: 576px) {
            bottom: 21.18%;
            right: 0px;
        }
    }
}

//------------------artDirector-----------------
.artDirector {
    .jumbotron {
        background: url("../../images/burningparrot-u2Xn5Bzvllw-unsplash.jpg")no-repeat center center;
        background-size: cover;
        height: 26vh;
        padding: 150px 0px;
        @media (max-width: 576px) {
            padding: 24px 0px;
            height: 52vh;
        }
    }
    .aos-animate{
      @media (max-width: 576px) {
           margin-bottom: 50px !important;
        }
    }
}
    .col-md-6 {
        h3 {
            margin-bottom: 16px;
        }
        ul {
            padding-left: 0;
        }
    }
}

//-------------swiper-------
.swiper {
    .swiper-container {
        padding-left: 16vw;
        height: auto;
        @media (max-width: 576px) {
            padding-left: 15vw;
        }
    }
    .swiper-slide {
        width: 30.5%;
        @media (max-width: 576px) {
            width: 50%;
        }
        .card {
            border: none;
        }
        .text-light {
            text-decoration: line-through;
        }
        img {
            height: 300px;
        }
    }
}

//---------------subscribeUs--------
.subscribeUs {
    .jumbotron {
        background: url("../../images/tom-crew-uDF1mW7EUwM-unsplash.jpg")no-repeat center center;
        background-size: cover;
        height: 26vh;
        padding: 84px 0px;
        @media (max-width: 576px) {
            padding: 24px 0px;
            height: 28vh;
        }
    }
    input {
        background: none;
    }
    .input-group-lg>.form-control {
        font-size: 1rem;
        line-height: 1.4;
        padding: 1.8rem 1rem;
    }
    .input-group-append>.btn {
        font-size: 1rem;
        padding: 1rem 2.5rem;
        @media (max-width: 576px) {
            padding: 1rem 1.5rem;
        }
    }
}
