.footer {
    .container {
        @media (max-width: 576px) {
            flex-direction: column;
            position: relative;
            ul {
                flex-direction: column;
                &:nth-child(1) {
                    justify-content: space-between;
                }
                &:nth-child(2) {
                    position: absolute;
                    top: 100px;
                }
            }
        }
    }
}