header {
    .material-icons {
        color: #fff;
    }
    .order-md-3 {
        margin-left: 0!important;
    }
    @media (max-width:576px) {
        .mt-sm-16 {
            margin-top: 16px !important;
        }
    }
    a {
        font-size: 20px;
        span {
            @media (min-width: 576px) {
                margin-left: 48px!important;
            }
        }
    }
}