extend ./layouts/layout.pug

block title
  title Bootstrap

block content
   .box.box2 1
   .box.box2 2
   .box.box2(data-aos="fade-left") 3
   .box.box2(data-aos="fade-left") 4
   .box.box2(data-aos="fade-left") 5

  


